<section class="search-results">
  <h1>Order of the Phoenix Members</h1>
  <h3>House <%= @house %></h3>

  <section class="member-info">
    <% @members.each do |member|%>
      <hr>
      <h4>member.name</h4>
      <ul>
        <li>House: <%= member.house %></li>
        <li>Role: <%= member.role %></li>
        <li>Patronus: <%= member.patronus %></li>
      </ul>
    <% end %>
  </section>
</section>
